html {
   height: 100%;
}

*,
*::before,
*::after {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   height: 100%;
   display: flex;
   flex-direction: column;
   padding: 0;
   margin: 0;
   font-family: 'Livvic', 'Arial', sans-serif;
   line-height: 1.5;
   background-color: var(--main-green);
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.visually-hidden {
   position: absolute;
   z-index: 1;
   width: 1px;
   height: 1px;
   margin: -1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
}

.container {
   max-width: 1150px;
   padding: 0 20px;
   margin-left: auto;
   margin-right: auto;
}

ul {
   list-style-type: none;
}

a {
   display: inline-block;
   text-decoration: none;
}

.largest-text {
   font-size: 100px;
   line-height: 100px;
}

.large-text {
   font-size: 64px;
   line-height: 56px;
}

.semi-text {
   font-size: 48px;
   line-height: 48px;
}

.medium-text {
   font-size: 18px;
   line-height: 28px;
}

.regular-text {
   font-weight: 600;
   font-size: 18px;
   line-height: 28px;
}

.light-text {
   font-weight: 600;
   font-size: 15px;
   line-height: 25px;
}